<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <userSettings>
      <ApiExample.Analytics.Properties.Settings>
        <setting name="AnonymousClientId" serializeAs="String">
          <value/>
        </setting>
      </ApiExample.Analytics.Properties.Settings>
    </userSettings>
</configuration>